<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.example.researchlab.member.model.vo.Member" alias="member"/>
        <typeAlias type="com.example.researchlab.investment.model.vo.MyStockList" alias="myStockList"/>
        <typeAlias type="com.example.researchlab.investment.model.vo.StockItem" alias="stockItem"/>
    </typeAliases>

    <mappers>
        <mapper resource="mybatis/mapper/member/member-mapper.xml"/>
        <mapper resource="mybatis/mapper/investment/investment-mapper.xml"/>
    </mappers>
</configuration>
