<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
<!-- 이유는 모르겠지만 typeAliases가 매퍼파일과 연동되지않음-->
	<typeAliases>
		<typeAlias type="com.example.researchlab.member.model.vo.Member" alias="member"/>
	</typeAliases>

	<mappers>
		<mapper resource="mybatis/mapper/member/member-mapper.xml"/>
	</mappers>

</configuration>
