<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.researchlab.board.model.dao.TradeMapper">

    <resultMap id="tradePostResultMap"      type="Post">
        <result property="postNo"           column="POST_NO" />
        <result property="title"            column="TITLE" />
        <result property="content"          column="CONTENT" />
        <result property="writer"           column="MEMBER_ID" />
        <result property="createDate"       column="CREATE_DATE" />
        <result property="updateDate"       column="UPDATE_DATE" />
        <result property="views"            column="VIEWS" />
        <collection property="imageList"    ofType="postImage">
            <result property="imageNo"      column="IMAGE_NO" />
            <result property="postNo"       column="POST_NO" />
            <result property="originalName" column="ORIGINAL_NAME" />
            <result property="storedName"   column="STORED_NAME" />
            <result property="createDate"   column="CREATE_DATE" />
        </collection>
    </resultMap>

    <sql id="postBaseSelect">
        SELECT
               tp.POST_NO,
               TITLE,
               CONTENT,
               MEMBER_ID,
               tp.CREATE_DATE,
               UPDATE_DATE,
               IMAGE_NO,
               STORED_NAME,
               ROW_NUMBER() OVER (ORDER BY tp.CREATE_DATE DESC) AS RNUM,
               tp.IS_DELETED,
               VIEWS
          FROM
               TB_TRADEPOST tp
          LEFT
          JOIN
               TB_IMAGES ti ON(tp.POST_NO = ti.POST_NO)
           AND
               ti.IS_DELETED = 'N'
         WHERE
               tp.IS_DELETED = 'N'
         ORDER
            BY
               tp.POST_NO DESC
    </sql>

    <select id="countAllPosts" resultType="int">
        SELECT COUNT(*) FROM TB_TRADEPOST
    </select>

    <select id="findPosts" parameterType="map" resultMap="tradePostResultMap">
        SELECT
               *
          FROM
               (
                <include refid="postBaseSelect" />
               )
        <where>
            RNUM BETWEEN #{offset} + 1 AND #{offset} + #{pageSize}
            <if test="memberId != null">
                AND
                    MEMBER_ID = #{ memberId }
            </if>
        </where>
    </select>

    <insert id="saveTradePost" parameterType="Post" useGeneratedKeys="true"
            keyProperty="postNo" keyColumn="POST_NO">
        INSERT
          INTO
               TB_TRADEPOST
               (
               POST_NO,
               TITLE,
               CONTENT,
               MEMBER_ID,
               CREATE_DATE
               )
        VALUES
               (
               SEQ_POSTNO.NEXTVAL,
               #{title},
               #{content},
               #{writer},
               SYSDATE
               )
    </insert>

    <insert id="saveImage" parameterType="Post">
        <foreach collection="imageList" item="image">
        INSERT
          INTO
               TB_IMAGES
               (
               IMAGE_NO,
               POST_NO,
               ORIGINAL_NAME,
               STORED_NAME,
               CREATE_DATE
               )
        VALUES
               (
               SEQ_IMGNO.NEXTVAL,
               #{postNo},
               #{image.originalName},
               #{image.storedName},
               SYSDATE
               )
        </foreach>
    </insert>

    <select id="selectPostDetail" parameterType="int" resultMap="tradePostResultMap">
        SELECT
               tp.POST_NO,
               TITLE,
               CONTENT,
               MEMBER_ID,
               tp.CREATE_DATE,
               tp.UPDATE_DATE,
               IMAGE_NO,
               STORED_NAME,
               VIEWS
          FROM
               TB_TRADEPOST tp
          LEFT
          JOIN
               TB_IMAGES ti ON(ti.POST_NO = tp.POST_NO)
         WHERE
               tp.POST_NO = ${postNo}
           AND
               tp.IS_DELETED = 'N'
    </select>

    <update id="deletePost" parameterType="map">
        UPDATE
               TB_TRADEPOST
           SET
               IS_DELETED = 'Y'
         WHERE
               POST_NO = #{ postNo }
           AND
               MEMBER_ID = #{ memberId }
    </update>

    <update id="deleteImage" parameterType="map">
        UPDATE
               TB_IMAGES
           SET
               IS_DELETED = 'Y'
         WHERE
               POST_NO = #{ postNo }
    </update>

    <update id="updatePost" parameterType="map">
        UPDATE
               TB_TRADEPOST
           SET
               TITLE = #{ title },
               CONTENT = #{ content },
               UPDATE_DATE = SYSDATE
         WHERE
               POST_NO = #{ postNo }
    </update>

    <update id="increaseViewCount" parameterType="int">
        UPDATE
               TB_TRADEPOST
           SET
               VIEWS = VIEWS + 1
         WHERE
               POST_NO = #{ postNo }
    </update>

</mapper>